html{
    background-color: rgb(27, 27, 27);
    color: white;
    
}

body{
    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
    margin-left: 0px;
    margin-right: 0px;
}
.logo > h1 {
    display: block;
    background-color: rgb(0,0,0, 0.4);
    border: 3px solid white;

    height: 125px;

    color: rgb(194,143,44);
    
    font-size: 85px;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 40px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    
}
.logo > h1 > a {    
    color: rgb(194,143,44);
    text-shadow: 2px 2px 5px white;

    font-weight: bold;
    text-decoration: none;

    margin-bottom: 0px;
    margin-top: 0px;
}
.logo > a:visited{
    color: rgb(194,143,44)
}
.logo > img{
    top: 0;
    left: 0;
    right: 0;

    filter: blur(5px);

    margin: 0px auto;
    position: absolute;

    max-width: 100%;
    height: 500px;
    
    z-index: -10;

    border: 5px solid rgb(10, 10, 10);
}

.menu{
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    justify-content: center;

    width: 100%;
    height: 50px;
    background-color: rgb(20, 20, 20);

}
.menu > a{
    padding-top: 10px;
    padding-bottom: 10px;

    color: rgb(194,143,44);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

    margin-left: 40px;
    margin-right: 40px;
}
.menu > a:visited{
    text-decoration: none;
}


/***********************************************/


.statistics > h2, .lck > h2, .champion-analysis > h2{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}


.champion-analysis{
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color: rgb(194,143,44);

    width: 100%;
    height: 300px;
}

.champions{
    display: flex;
    justify-content: center;
}
.lane{
    display: flex;
    flex-direction: column; 

    width: 180px;
    height: 180px;
    transition: color 1.5s;
    transition: background-color 1.5s;

    margin-left: 10px;
    margin-right: 10px;
}
.lane > a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.lane > a:visited{
    color: white;
    text-decoration: none;
}
.lane:hover{
    background-color: white;
    color: black;
}
.lane > h3{
    margin: 0 auto;
    margin-top: 10px
}



.statistics{
    display: flex;
    flex-direction: column;
    color: rgb(194,143,44);

    width: 100%;
    height: 500px;
}

.statistics .data{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.percentage{
    display: block;
    background-color: rgb(20, 20, 20);
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: 400px;

}
.percentage > h3{
    text-align: center;
    margin-top: 10px
}

.lck{
    display: flex;
    flex-direction: column;
    color: rgb(194,143,44);
    background-color: rgb(20, 20, 20);

    width: 100%;
    height: 600px;
}
.teams{
    display: grid;
    grid-template-rows: 500px, 500px;
}
