html{
    background-color: rgb(27, 27, 27);
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
}
.logo > h1 {
    color: rgb(194,143,44);
    font-size: 85px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.logo > h1 > a {
    color: rgb(194,143,44);
    text-decoration: none;
}
.logo > a:visited{
    color: rgb(194,143,44)
}
.logo > img{
    top: 0;
    left: 0;
    right: 0;

    margin: 0px auto;
    position: absolute;

    
    max-height: 100%;
    width: auto;
    height: 500px;
    z-index: -10
}


/**/
.champion-analysis{
    color: rgb(194,143,44);
}
.champions{
    display: flex;
    justify-content: space-around;
}
.lane{
    display: flex;
    flex-direction: column;
    

    width: 180px;
    height: 180px;
    transition: color 1.5s;
    transition: background-color 1.5s;
}
.lane > a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.lane > a:visited{
    color: white;
    text-decoration: none;
}
.lane:hover{
    background-color: white;
    color: black;
}
.lane > h3{
    margin: 0 auto;
    margin-top: 10px
}