html{
    background-color: rgb(27,27,27);
}

body{
    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
}

.menu{
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    justify-content: center;

    width: 100%;
    height: 50px;
    background-color: rgb(20,20,20);
}
.menu > a{
    padding-top: 10px;
    padding-bottom: 10px;

    color: rgb(194,143,44);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

    margin-left: 40px;
    margin-right: 40px;
}
.menu > a:visited{
    text-decoration: none;
}
.menu > a:nth-child(5){
    color: white;
}

.classification{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 70px;
}
.tag{
    display: block;
    width: 300px;
    height: 150px;

    margin-left: 10px;
    margin-right: 10px;

    background-color: rgb(30,30,30);
}